.project
/.project/
/.project
.settings
/.settings/
.classpath
.factorypath
/.gradle/
/gradle/
/.idea/
/build/
/out/
/target/
*.iml
nbactions.xml
/nb-configuration.xml
*.orig
/modules/core/application/nbproject/
/modules/core/application/target/
/modules/core/application/*.iml
modules/core/application/\.gradle/4\.4/fileHashes/
*.slt
*.war
*.bin
/modules/core/application-app/target/
*.lock
*.class

*.jar

*.lst

modules/integration/cms-rest-adapter/nb-configuration.xml
modules/integration/messenger-app-services/target/
modules/.DS_Store
.DS_Store
modules/.DS_Store
.DS_Store
modules/.DS_Store

